 <table summary="Share form fields">
	<tr>
		<th><%= f.label(:post_title, "Title")%></th>
		<td><%= f.text_field(:post_title)%></td>
	</tr>
	<tr>
		<th><%= f.label(:post_body, "Body")%></th>
		<td><%= f.text_field(:post_body)%></td>
	</tr>		
</table>
