<%= link_to("< Back to Main", {:action => 'index'}, :class => 'back-link') %>
<div class ="new post">
	<h2> Edit a post</h2>
	<%= form_for(:post, :url => post_path(@post.id), method: :patch) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<div class="form-buttons">
			<%= submit_tag("Edit this post") %>
		</div>
	<% end %>
</div>
